.section {
  padding: 33px 0 63px 0;
  border-top: 4px solid #63D2C1;
  width: 450px;

  &--term {
    border: 4px solid #63D2C1;
    padding: 40px 84px;
  }
}

.section__title {
  font-size: 24px;
  line-height: 32px;

  &--term {
    text-align: center;
    font-size: 64px;
    line-height: 60px;
  }
}

.section__description {
  font-size: 16px;
  line-height: 24px;
  color: #666666;

  &--term {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000000;
  }
}